body {
    background-color: red;
}
/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #020617;
    padding: 15px 30px;
}

nav h1 {
    margin: 0;
    color: #38bdf8;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #e2e8f0;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #38bdf8;
}

/* Sections */
section {
    margin: 30px;
    padding: 25px;
    background: #1e293b;
    border-radius: 12px;
}

h2 {
    color: #38bdf8;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background-color: #020617;
    margin-top: 20px;
}
